<!DOCTYPE html>

<html>

<head>

```
<title>Chat History</title>

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"
>
```

</head>

<body>

<!-- SIDEBAR -->

<div class="sidebar">

```
<div class="logo">

    🤖 Student AI

</div>

<div class="menu">

    <a href="/chat">
        💬 Chat
    </a>

    <a href="/quiz">
        🧠 Quiz
    </a>

    <a href="/notes">
        📒 Notes
    </a>

    <a href="/logout">
        🚪 Logout
    </a>

</div>
```

</div>

<!-- MAIN -->

<div class="main">

```
<h1 style="color:cyan;">

    📜 Chat History

</h1>

<br>


<a href="/chat">

    <button class="save-btn">

        🏠 Home

    </button>

</a>

<br><br>

{% for item in history %}

<div class="chat-box">

    <div class="question">

        You:
        {{ item.question }}

    </div>

    <br>

    <div class="answer">

        AI:
        {{ item.answer }}

    </div>

</div>

<br>

{% endfor %}
```

</div>

</body>

</html>
