<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>

        Student AI | Quiz

    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="app-container">

    <!-- SIDEBAR -->

    <aside class="sidebar">

        <div class="logo">

            🧠 Medhix AI

        </div>

        <nav class="menu">

            <a href="/chat">

                💬 Chat

            </a>

            <a href="/history">

                📜 History

            </a>

            <a href="/notes">

                📒 Notes

            </a>

            <a href="/quiz" class="active">

                🧠 Quiz

            </a>
            <a href="/leaderboard">

                🏆 Leaderboard

            </a>
            <a href="/clear_chat">

                🗑 Clear Chat

            </a>

            <a href="/logout">

                🚪 Logout

            </a>

        </nav>

    </aside>

    <!-- MAIN -->

    <main class="main-content">

        <header class="top-header">

            <div>

                <h1>

                    🧠 Medhix AI Quiz

                </h1>

                <p>

                    Test your knowledge with AI-powered questions.

                </p>

            </div>

            <a href="/chat">

                <button class="save-btn">


            </a>

        </header>

        <form
            action="/submit_quiz"
            method="POST">

        <div class="quiz-container">
        {% for q in questions %}

{% set qnum = loop.index %}

<div class="quiz-card">

    <div class="quiz-number">

        Question {{ qnum }}

    </div>

    <h2 class="quiz-question">

        {{ q.question }}

    </h2>

    <div class="quiz-options">

        {% for option in q.options %}

        <label class="quiz-option">

            <input
                type="radio"
                name="q{{ qnum }}"
                value="{{ option }}"
                required>

            <span>

                {{ option }}

            </span>

        </label>

        {% endfor %}

    </div>

</div>

{% endfor %}

<div class="quiz-submit">

    <button
        type="submit"
        class="search-btn">

        🚀 Submit Quiz

    </button>

</div>
        </div>

        </form>

    </main>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>